@{
    ViewBag.Title = "Home Page";
}

<p><img class="img-responsive center-block"  img src="~/Content/sunshinecleaning111.png" alt="" width="600" height="550" /> </a></p>
<div class="row">


    <div style="margin-left: auto; margin-right: auto; text-align: center;">
        <asp:Label ID="Label3" runat="server" Text="SunshineCleaning information" Font-Bold="true" Font-Size="X-Large"
                   CssClass="StrongText"></asp:Label>
    </div>


    @*<h1>SunshineCleaning information</h1>*@
    <p><img class="img-responsive center-block" img src="~/Content/sunshinecleaning22.png" alt="" width="600" height="550" /> </a></p>
    @*<p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Regular Cleaning</h2>
        <p>Bedroom </p>
        <table class="table" align="left">
           
            <tr>
                <th>1.Ceiling fans dusted</th>
            </tr>
            <tr>
                <th>2.Room dusted</th>
            </tr>
            <tr>
                <th>3.Cibwebs removed</th>
            </tr>
            <tr>
                <th>4.Mirrors throughly cleaned</th>
            </tr>
            <tr>
                <th>5.General Straighten up</th>
            </tr>
            <tr>
                <th>6.Beds mad (long as clean set of sheets are provided)</th>
            </tr>
            <tr>
                <th>7.Trash emptied</th>
            </tr>
        </table>
           
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
</div>



    <div class="col-md-4">
        <h2>Moderate Cleaning</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>


    <div class="col-md-4">
        <h2>Deep Cleaning</h2>
        <p>Kitchen </p>
        <table class="table" align="left">
            <tr>
                <th>1.Cabinet fronts cleaned</th>
            </tr>
            <tr>
                <th>2.Microwave exteriror/interiror cleaned</th>
            </tr>
            <tr>
                <th>3.Appliance exteriror/interirors cleaned</th>
            </tr>
            <tr>
                <th>4. Windows & blinds cleaned</th>
            </tr>
            <tr>
                <th>5.Fingerprints removed from all woodwork, door-frames and switch plates</th>
            </tr>
            <tr>
                <th>6.Sinks scrubbed & disinfected</th>
            </tr>
            <tr>
                <th>7.Countertops & backsplash disinfected (all items removed and replaced)</th>
            </tr>
            <tr>
                <th>8.Basboards dusted</th>
            </tr>
            <tr>
                <th>9.Trash emptied</th>
            </tr>
            <tr>
                <th>10.Floors vacuumed/mopped</th>
            </tr>
        </table>

        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>